
.styleImageGroup{
    margin-top: 120px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.styleContent  {
    padding: 10px;
    margin : auto;
    width : 75%;
    display: flex
}

.styleFilter {
    margin-top: 120px;
    width: 20%;
}