.searchComponent{
    margin-left: 25px;
}

.styles {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    display: flex;
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: white;
}

.styleDivLogo {
    margin-top: 20px;
    width: 50%
}

.styleDivSearch {
    margin-top: 20px;
    width: 50%
}

.styleDivCenter{
    width: 50%
}